* {
    font-family: sans-serif
}
html, body {
    margin: 0;
    padding: 0;
    background: #047d78;
    overflow: hidden;
}
.topBar{
    border: 1px solid black;
    background-color: #3f3f3f;
    
}
.dropbtn-menu, .dropbtn-resume {
  background-color: #3f3f3f;
  color: rgb(248, 239, 239);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn-menu:hover, .dropbtn-resume:hover, .dropbtn-menu:hover, .dropbtn-resume:focus {
  background-color: #636262;
}
.dropdown-menu, .dropdown-resume {
  position: relative;
  display: inline-block;
}
.dropdown-content-menu, .dropdown-content-resume {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content-menu a, .dropdown-content-resume a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-menu a:hover, .dropdown-content-resume a:hover {background-color: #ddd}
.show-menu, .show-resume {display:block;}

.icons{ 
  padding: 40px; 
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  max-width: 40px;
}
#computerbtn, #commandbtn, #filebtn, #phonebtn {
  background:none;
  border: transparent;
}
#computerbtn:hover, #commandbtn:hover, #filebtn:hover, #phonebtn:hover {
  background-color: #888;
}
.bottom-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0%;
  width: 100%;
  border: 1px solid #babcb9;
  background: #babcb9;
  height: 35px;
}
.startbtn {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #babcb9;
  height: 25px;
  position: relative;
  top: 5px;
  box-shadow: 1px 10px #888;
  
}
p {
  color: white;

}